---
import logo from "../../public/assets/logo.png";
---

<div>
  <img src={logo} alt="logo" />
  <span>Agrume</span>
</div>

<style>
  div {
    font-family: "Gluten Variable", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: -0.1em;

    display: flex;
    align-items: center;
  }

  img {
    width: 2em;
    height: 2em;
    margin-right: 0.5rem;
  }
</style>
